@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    background-color: #f3f4f6; /* Using Tailwind class 'bg-gray-100' */
    color: #374151; /* Using Tailwind class 'text-gray-700' */
    box-sizing: border-box;
    font-size: 16px; /* Default base font size */
}

*, *::before, *::after {
  box-sizing: border-box;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
    outline: none;
    transition: all 0.2s ease-in-out; /* Smooth transition for focus effect */
    box-shadow: 0 0 0 2px rgba(96, 165, 250, 0.5);
}